/* google font */
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
/* general styles*/
body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    color: #3a3a3a;
    font-family: 'Roboto Mono', sans-serif;

}

/* Header */
header {
background-color: blueviolet;
}

h1{
    font-family: 'Roboto Mono', sans-serif;
}
/* Main Content */
main {
    background-color: aquamarine;
    flex: 1 0 auto;
}
/* Footer */
footer {
    background-color: brown;
}